<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-idelab-wrapper" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	
	<name>CordovaIDELabWrapper</name>
	
	<js-module name="CordovaIDELabWrapper" src="www/CordovaIDELabWrapper.js">
		<clobbers target="cordova.plugins.CordovaIDELabWrapper" />
	</js-module>

	<platform name="android">
		
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CordovaIDELabWrapper">
				<param name="android-package" value="cordova-idelab-wrapper.CordovaIDELabWrapper" />
			</feature>
		</config-file>
		
		<config-file parent="/*" target="AndroidManifest.xml" />
		
		<source-file src="src/android/CordovaIDELabWrapper.java" target-dir="src/cordova-idelab-wrapper/CordovaIDELabWrapper" />
	
		<framework src="src/android/CordovaIDELabWrapper.gradle" custom="true" type="gradleReference" />
		<resource-file src="src/android/external-IDELab.aar" target="libs/external-IDELab.aar" />
		
		
	</platform>

	<platform name="ios">
	
		<config-file parent="/*" target="config.xml">
			<feature name="CordovaIDELabWrapper">
				<param name="ios-package" value="CordovaIDELabWrapper" />
			</feature>
		</config-file>
		
		<source-file src="src/ios/CordovaIDELabWrapper.m" />
	</platform>

</plugin>